<section class="Footer">
  <div class="Footer-container">
    <div class="Footer-containerTree">

      <div class="Footer-menuRigth hidden-xs">
        <div class="Footer-titleContainer1">
          <h3 class="Footer-menuTittle">Sobre texla</h3>
        </div>
        <a class="Footer-menuItem"href="#">Soporte</a>
        <a class="Footer-menuItem"href="#">Servicios</a>
        <a class="Footer-menuItem"href="#">Acerca de </a>
      </div>
      <div class="Footer-logoContainer">
        <img src="../assets/images/TEXLA LOGO SIMBOLO/nega tex.png" alt="" class="Footer-logo">
      </div>
      <div class="Footer-menuRigth visile-xs hidden-sm hidden-md hidden-lg">
        <div class="Footer-titleContainer1">
          <h3 class="Footer-menuTittle">Sobre texla</h3>
        </div>
        <a class="Footer-menuItem"href="#">Soporte</a>
        <a class="Footer-menuItem"href="#">Servicios</a>
        <a class="Footer-menuItem"href="#">Acerca de </a>
      </div>
      <div class="Footer-menuLeft">
        <div class="Footer-titleContainer2">
          <h3 class="Footer-menuTittle">Nuestros serivcios</h3>
        </div>
        <a class="Footer-menuItem"href="">Reservas</a>
        <a class="Footer-menuItem"href="#">Productos</a>
        <a class="Footer-menuItem"href="#">Añadir servicios</a>
      </div>
    </div>
    <div class="Footer-social">
      <i class="fa fa-facebook-square Footer-facebook" aria-hidden="true"></i>
      <i class="fa fa-twitter-square Footer-twitter" aria-hidden="true"></i>
      <i class="fa fa-instagram Footer-instagram" aria-hidden="true"></i>
    </div>
    <div class="Footer-dataContainer">
      <p class="Footer-data"><!--recuerden  lo del camel case para las clases -->
        © 2017 Texla.com by softlution S.A.S
      </p>
    </div>
  </div>
</section>
