.Rec
  float right
  font-size 80%
  position relative
  top -10px
.Cont
  margin-top:30px
.Container
  width 90%
  background transparent
.Form
  padding 15px
  margin-left 22%
.Reg
  margin-left 22%

@media (min-width: 1200px)
  .container
    width 886px
